<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>住所録</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>住所録.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBL</display-name>
    <servlet-name>AddBL</servlet-name>
    <servlet-class>住所録.AddBL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBL</servlet-name>
    <url-pattern>/AddBL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addd</display-name>
    <servlet-name>Addd</servlet-name>
    <servlet-class>住所録.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addd</servlet-name>
    <url-pattern>/Addd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCheck</display-name>
    <servlet-name>AddCheck</servlet-name>
    <servlet-class>住所録.AddCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCheck</servlet-name>
    <url-pattern>/AddCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComitBL</display-name>
    <servlet-name>AddComitBL</servlet-name>
    <servlet-class>住所録.AddComitBL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComitBL</servlet-name>
    <url-pattern>/AddComitBL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBL</display-name>
    <servlet-name>EditBL</servlet-name>
    <servlet-class>住所録.EditBL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBL</servlet-name>
    <url-pattern>/EditBL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditComitBL</display-name>
    <servlet-name>EditComitBL</servlet-name>
    <servlet-class>住所録.EditComitBL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditComitBL</servlet-name>
    <url-pattern>/EditComitBL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteComitBL</display-name>
    <servlet-name>DeleteComitBL</servlet-name>
    <servlet-class>住所録.DeleteComitBL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteComitBL</servlet-name>
    <url-pattern>/DeleteComitBL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListBL</display-name>
    <servlet-name>ListBL</servlet-name>
    <servlet-class>住所録.ListBL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBL</servlet-name>
    <url-pattern>/ListBL</url-pattern>
  </servlet-mapping>
</web-app>