@charset "UTF-8";

body{
    width:950px;
}

p{
	font-size:20px;
	color:#ff6c94;
}

form{
	padding:30px 50px;
}

form dl dt{
	width:90px;
	/* padding:10px 0; */
	float:left;
	/* clear:both; */
}

form dl dd{
	/* padding:10px 0; */
}

.button_wrapper{
	text-align:center;
	
}